body {
    font-family: Arial;
    font-size: 9pt;

    margin: 0px;
    padding: 0px;
    background-color: #E7E7DE;

    text-align: left;
}

.app_header {
    height: 150px;
    background-color: white;
    padding: 0px 0px 15px 0px;
    border-bottom: 1px solid darkgray;
    background-image: url("../imagenes/headerBCM.jpg");
    background-repeat: repeat-x;
    background-position: bottom right;
}

.app_header h1 {
    margin: 0;
    padding: 0;
    padding-left: 10px;
    font-size: 120px;
    display: block;
}

.app_header ul {
    color: darkgray;
    display: block;
    margin: 0px;
    padding: 0px;
    border-bottom: 1px solid darkgray;
}

.app_header li {
    display: inline;
    padding: 0px 5px 0px 5px;
    border-right: 1px dotted darkgray;
}

.app_header li.right {
    float: right;
}

.app_header li a {
    color: darkgray;
    text-decoration: none;
}

.app_header li a:hover {
    color: black;
}

.app_barra {
    height: 50px;
    border-bottom: 1px solid darkgray;
    background-color: #FAA739;

}

.app_barra td {
    border-right: 1px solid darkgray;
    font-size: 18px;
    font-weight: 100;
    white-space: nowrap;
    vertical-align: middle;
    color: white;
}

.app_barra td a {
    color: #333;
    font-size: medium;
    font-weight: lighter;
    text-decoration: none;
}

.app_barra td a.selected {
    color: black;
    font-weight: bold;
    font-size: large;
    border-bottom: 3px solid white;
}

.app_externo {
}

.app_interno {
    width: 100%;
}
