body {
    font-size: 9pt;
    background-image: url('../imagenes/background7.gif');
    background-color: #CCCCCC;
}

#login {
    width: 400px;
    background-color: darkgray;
    background: url("../imagenes/background7.gif");
    margin-top: 30px;
    font-size: 9pt;
    padding: 15px;
    color: black;
}

#login_inner {
    background-color: #CCCCCC;
}

#login_data {
    background-color: #DDDDDD;
}

#mainContainer {
    background-color: #FFFFFF;
    padding: 0px 0px 5px 0px;
    text-align: left;
}

#listaContainer {
    background-color: #FAA739;
    pppadding: 5px 5px 5px 5px;
}

#descripcionContainer {
    background-color: #DDDDDD;
    padding: 5px 5px 5px 5px;
    margin-bottom: 0px;
}

#mensajesContainer {
    background-color: #EEEEEE;
    padding: 5px 5px 5px 5px;
    margin-bottom: 0px;
}

#dwinfoContainer {
    background-color: #DDDDDD;
    padding: 5px 5px 5px 5px;
    margin-bottom: 0px;
}

#divscContainer {
    background-color: #DDDDDD;
    padding: 5px 5px 5px 5px;
    margin-bottom: 0px;
}

#restriccionesContainer {
    background-color: #DDDDDD;
    padding: 5px 5px 5px 5px;
    margin-bottom: 0px;
}

#basesContainer {
    background-color: #EEEEEE;
    padding: 5px 5px 5px 5px;
    margin-bottom: 0px;
}

#listanegraContainer {
    background-color: #DDDDDD;
    padding: 5px 5px 5px 5px;
    margin-bottom: 0px;
}

#accionesContainer {
    background-color: #EEEEEE;
    padding: 5px 5px 5px 5px;
    margin-bottom: 0px;
}

#notificacionesContainer {
    background-color: #DDDDDD;
    padding: 5px 5px 5px 5px;
    margin-bottom: 0px;
}

.lista_estado_NUEVO {
/*color: #0066E2;*/
}

.lista_estado_DETENIDO {
/*color: #DB7400;*/
}

.lista_estado_GUARDADO {
}

.lista_estado_EN_PROCESO {
/*color: #009900;*/
}

.lista_estado_CANCELADO, .lista_estado_TERMINADO, .lista_estado_ELIMINADO {
    color: #BEBEBE;
}

.lista_even_GUARDADO {
    background-color: #EEEEEE;
}

.lista_odd_GUARDADO {
    background-color: #DDDDDD;
}

.lista_even_EN_PROCESO {
    background-color: #85DD85;
}

.lista_odd_EN_PROCESO {
    background-color: #68AD68;
}

.lista_even_DETENIDO {
    background-color: #FBAA39;
}

.lista_odd_DETENIDO {
    background-color: #FD9B17;
}

.lista_even_NUEVO {
    background-color: #8BB1E5;
}

.lista_odd_NUEVO {
    background-color: #6B88B2;
}


